/* MENU */
.page-sidebar-wrapper{ display:none; }
.page-sidebar-closed .page-sidebar-wrapper { background:red; position:relative; z-index:3; display:block}
.page-sidebar-closed .page-sidebar-wrapper ul li .selected{ display:none }

.dispatcher{ }
.dispatcher:before{ content:''; background:#fff; position:fixed; left:0; top:0; bottom:0; width:350px; z-index:1;
                    box-shadow:0 1px 10px 0 rgba(50,50,50,.2);}
.dispatcher .lft{ position:absolute; left:0; top:0; width:350px; background:#fff; z-index:1; padding:15px }
.dispatcher .rgt{ position:fixed; left:350px; top:68px; right:0; bottom:0; background:#eee; z-index:0 }
.dispatcher .rgt #map{ width:100%; height:100% }

/* Puntos */
.points ._adr{ overflow:hidden; max-height:18px; /*white-space:nowrap*/ }
.points .msg{ padding:10px }

/* Map Marker InfoWindow Driver */
.map_mk_iw_dvr { width:250px }
.map_mk_iw_dvr ._lft{ width:70px; float:left }
.map_mk_iw_dvr ._lft img{ width:70px; height:70px }
.map_mk_iw_dvr ._rgt{ width:170px; float:right }
.map_mk_iw_dvr ._rgt h5{ margin-top:0; padding:0; font-weight:bold }
.map_mk_iw_dvr ._rgt h6{ margin-top:0; padding:0 }